*{	/* aplicado em todos os elementos do CSS */
	/* aplicando um reset nas configurações do navegador */
	margin: 0;
	padding: 0;
}

/* Site responsivo */

html,body {
	height: 100%; /* Para ser responsivo, deixar configurado o html e body com altura em 100%, a largura por padrão já é 100% */
}


.txt[type="text"] {
	background-color: green;
}

input[type="submit"] {
	background-color: red;
}

/*

a[href]{ /* [] faz com que seja aplicado este estilo em todos os atributos href
	background-color: yellow;
}

a[href*="google"] { /* procura a palavra google dentro dos atributos
	background-color: red;
}


a[atte~="google"] { /* procura entre os espaços do atributo.
	background-color: orange;
} 
*/

