*{		/* aplicado em todos os elementos do CSS */
	/* aplicando um reset nas configurações do navegador */
	margin: 0;
	padding: 0;
}

/* Site responsivo */

html,body {
	height: 100%; /* Para ser responsivo, deixar configurado o html e body com altura em 100%, a largura por padrão já é 100% */
}

.tipo1 {
	color: rgb(100,100,100);
}

a.link_ {
	font-size: 30px
}

.tipo2 {
	font-size: 60px;
}